node_modules
dist
.git
.supabase
.temp
cli-latest
postgres-version
cli-linked-project.json
gotrue-version
rest-version
storage-migration
storage-version
linked-project.json
project-ref
pooler-url
cli-linked-project.json
test-*.js
test-*.cjs
*.log
